<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
    <link rel="stylesheet" href="C:\Sample_\Python_Flask\flask_app\venv\static\style.css">
</head>
<body>
    <h1>Hello, World!</h1>
    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
        <a href="/flask_app/venv/templates/about.html"></a>
    </nav>
</body>
</html>